  
*{
  margin: 0px;
}


body {
margin: 0;
font-family: Verdana, Geneva, Tahoma, sans-serif;
border: 1px solid transparent;
height: 946px;
width: 1535px;

}

.topnav {
  overflow: hidden;
  background-color: rgb(46, 44, 43);

}

.header{
  background-color: rgb(46, 44, 43) ;
  padding: 35px;
  color: #c7c2c2;
  text-align: left;
  width: 170px;
  float: left;
  height: 37px;

  
}


.search{
  background-color:  rgb(46, 44, 43) ;
padding: 35px;
color: #c7c2c2;
text-align: left;
width: 373px;
float: left;
height: 37px;
font-size: 40px;
font-weight: bold;

}




.title{
border: 1px solid transparent;
background-color: rgb(46, 44, 43);
padding: 35px;
color: #c7c2c2;
float: left;
width: 780px;
height: 35px;
text-align: center;


   }

   #myInput {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid rgb(46, 44, 43);
    margin-bottom: 12px;
    width: 300px;
   
  }


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(19, 18, 18);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color:#c7c2c2;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  font-weight: bold;
  color: #c7c2c2;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



.gallery {
  width:250px;
  height:250px;
 
padding: 0;
margin: 0;
text-align: center;
display: inline-block; 
margin-left: auto;
 margin-right: auto;
 text-align: center;
 padding-left: 50px;
 padding-right: 50px;
 position: absolute;
 right: 1000px;
 top: 200px;
}

.gallery-image{
cursor:pointer;
position: absolute;
display: inline-block;

}

.gallery-text{
position: absolute;
top: 0; right: 0;
bottom: 0; left: 0;
width: 250px;
height: 250px;
text-align: center;
background-color: rgba(48, 47, 46, 0.63);
opacity: 0;
-webkit-transition: opacity 0.6s;
-moz-transition: opacity 0.6s;
transition: opacity 0.6s;
    vertical-align:middle;
    line-height:250px;
}

.gallery-text:hover{
opacity: 1;      
}

.gallery-text h3{
color: rgb(223, 218, 215);
display: inline-table;
    vertical-align:middle;
    line-height:100%;            
}



.gallery2 {
  width:240px;
  height:250px;
padding: 0;
margin: 0;
text-align: center;
display: inline-block; 
margin-left: auto;
 margin-right: auto;
 text-align: center;
 padding-left: 50px;
 padding-right: 50px;
 position: absolute;
 right: 270px;
 top: 200px;
}

.gallery-image2{
cursor:pointer;
position: absolute;
display: inline-block;
}

.gallery-text2{
position: absolute;
top: 0; right: 0;
bottom: 0; left: 0;
width: 330px;
height: 250px;
text-align: center;
background-color: rgba(48, 47, 46, 0.63);
opacity: 0;
-webkit-transition: opacity 0.6s;
-moz-transition: opacity 0.6s;
transition: opacity 0.6s;
    vertical-align:middle;
    line-height:250px;
}

.gallery-text2:hover{
opacity: 1;      
}

.gallery-text2 h3{
color: rgb(223, 218, 215);
display: inline-table;
    vertical-align:middle;
    line-height:100%;            
}


.gallery3 {
  width:240px;
  height:250px;
padding: 0;
margin: 0;
text-align: center;
display: inline-block; 
margin-left: auto;
 margin-right: auto;
 text-align: center;
 padding-left: 50px;
 padding-right: 50px;
 position: absolute;
 right: 675px;
 top: 200px;
}

.gallery-image3{
cursor:pointer;
position: absolute;
display: inline-block;
}

.gallery-text3{
position: absolute;
top: 0; right: 0;
bottom: 0; left: 0;
width: 330px;
height: 250px;
text-align: center;
background-color: rgba(48, 47, 46, 0.63);
opacity: 0;
-webkit-transition: opacity 0.6s;
-moz-transition: opacity 0.6s;
transition: opacity 0.6s;
    vertical-align:middle;
    line-height:250px;
}

.gallery-text3:hover{
opacity: 1;      
}

.gallery-text3 h3{
color: rgb(223, 218, 215);
display: inline-table;
    vertical-align:middle;
    line-height:100%;            
}


.gallery4 {
  width:240px;
  height:250px;
padding: 0;
margin: 0;
text-align: center;
display: inline-block; 
margin-left: auto;
 margin-right: auto;
 text-align: center;
 padding-left: 50px;
 padding-right: 50px;
 position: absolute;
 right: 630px;
 top: 500px;
}

.gallery-image4{
cursor:pointer;
position: absolute;
display: inline-block;
}

.gallery-text4{
position: absolute;
top: 0; right: 0;
bottom: 0; left: 0;
width: 250px;
height: 250px;
text-align: center;
background-color: rgba(48, 47, 46, 0.63);
opacity: 0;
-webkit-transition: opacity 0.6s;
-moz-transition: opacity 0.6s;
transition: opacity 0.6s;
    vertical-align:middle;
    line-height:250px;
}

.gallery-text4:hover{
opacity: 1;      
}

.gallery-text4 h3{
color: rgb(223, 218, 215);
display: inline-table;
    vertical-align:middle;
    line-height:100%;            
}

.gallery5 {
  width:240px;
  height:250px;
padding: 0;
margin: 0;
text-align: center;
display: inline-block; 
margin-left: auto;
 margin-right: auto;
 text-align: center;
 padding-left: 50px;
 padding-right: 50px;
 position: absolute;
 right: 280px;
 top: 500px;
}

.gallery-image5{
cursor:pointer;
position: absolute;
display: inline-block;
}

.gallery-text5{
position: absolute;
top: 0; right: 0;
bottom: 0; left: 0;
width: 350px;
height: 250px;
text-align: center;
background-color: rgba(48, 47, 46, 0.63);
opacity: 0;
-webkit-transition: opacity 0.6s;
-moz-transition: opacity 0.6s;
transition: opacity 0.6s;
    vertical-align:middle;
    line-height:250px;
}

.gallery-text5:hover{
opacity: 1;      
}

.gallery-text5 h3{
color: rgb(223, 218, 215);
display: inline-table;
    vertical-align:middle;
    line-height:100%;            
}

.gallery6 {
  width:240px;
  height:250px;
padding: 0;
margin: 0;
text-align: center;
display: inline-block; 
margin-left: auto;
 margin-right: auto;
 text-align: center;
 padding-left: 50px;
 padding-right: 50px;
 position: absolute;
 right: 1020px;
 top: 500px;
}

.gallery-image6{
cursor:pointer;
position: absolute;
display: inline-block;
}

.gallery-text6{
position: absolute;
top: 0; right: 0;
bottom: 0; left: 0;
width: 280px;
height: 250px;
text-align: center;
background-color: rgba(48, 47, 46, 0.63);
opacity: 0;
-webkit-transition: opacity 0.6s;
-moz-transition: opacity 0.6s;
transition: opacity 0.6s;
    vertical-align:middle;
    line-height:250px;
}

.gallery-text6:hover{
opacity: 1;      
}

.gallery-text6 h3{
color: rgb(223, 218, 215);
display: inline-table;
    vertical-align:middle;
    line-height:100%;            
}

.footerimage{
  position: absolute;
  top: 800px;
  left: 690px;
}


.footer{

  background-color: rgb(46, 44, 43) ;
  padding: 20px;
  text-align: left;
  width: 1494px;
  float: left;
  height: 5px;
  position: absolute;
  top: 910px;
  left: 0px;
}

.ingredients1{
  position: absolute;
  left: 140px;
  top: 265px;
  color: rgb(63, 63, 63);
}

.ingredients11{
  position: absolute;
  left: 100px;
  top: 330px;
  color: rgb(63, 63, 63);

}

h2{
  position: absolute;
  left: 100px;
  top: 175px;
 
}

.recipe1{
  position: absolute;
  left: 1200px;
  top: 360px;
  
}

.Instructions1{
  position: absolute;
  left: 720px;
  top: 250px;
  color: rgb(63, 63, 63);
}

.instructions11{
  position: absolute;
  left: 450px;
  top: 310px;
  color: rgb(63, 63, 63);
}

.how-to{
  position: absolute;
left: 100px;
top:320px ;
}

.how-to1{
  position: absolute;
  left: 100px;
  top:260px ;
}

.steak{
  position: absolute;
  left: 1000px;
  top: 200px;
}

.steak1{
  position: absolute;
  left: 1050px;
  top: 600px;
}

.ingredients2{
  position: absolute;
  left: 100px;
  top:590px ;
}

.ingredients{
  position: absolute;
  left: 100px;
  top:650px ;
}

.arrow1{
  position: absolute ;
  top: 880px;
  left: 20px;
}

.arrow2{
  position: absolute ;
  top: 880px;
  left: 1450px;
}

.soeasy{
  position:  absolute;
  top: 200px;
  left: 200px;
}

.textsoeasy{
  position: absolute;
  left: 200px;
}
.minutes5{
  position:  absolute;
  top: 200px;
  left: 800px;
}

.text5minutes{
  position: absolute;
  left: 200px;
}

.gordon{
  position:  absolute;
  top: 600px;
  left: 300px;
}

.textgordon{
  position: absolute;
  left: 100px;
}

.basic{
  position:  absolute;
  top: 600px;
  left: 870px;
}

.textbasic{
  position: absolute;
  left: 120px;
}



